body {
  background-color: #DFD8CA;
  font-family: sans-serif;
  margin: 10px;
}

hr {
  border-style: dotted none none;
  border-color: #B91646;
  border-width: 10px;
  opacity: 70;
  width: 5%;
  ;
}

table {
  border-width: 5px;
  border-style: hidden;
  border-spacing: 25px;
}